@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
  /* Standardgröße */
}


body {
  min-height: 100vh;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 0, 0, 0.4),
      transparent);
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(0, 60, 255, 0.4),
      transparent);
}

.logo {
  display: inline-block;
  /* Ermöglicht die Anwendung von width und height */
  width: 150px;
  /* Setze die gewünschte Breite des Logos */
  height: auto;
  /* Damit das Bild proportional skaliert wird */
  text-decoration: none;
  cursor: pointer;
  /* Ändere von default zu pointer, da es sich um einen klickbaren Link handelt */
}

.logo img {
  width: 100%;
  /* Dadurch nimmt das Bild die Breite des umgebenden .logo-Elements an */
  height: auto;
  /* Erhält das Seitenverhältnis */
}

.navbar a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f00;
}

#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  padding-top: 50px;

}

.card {
  background: white;
  /* oder ein anderer Hintergrund, der zu deinem Design passt */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  /* oder eine spezifische Breite, je nach Design */
  max-width: 95%;
  /* begrenzt die Breite der Karte */
}

/* Sektion Start und Bild */
.wedding-invitation {
  background: url('niclas_alex.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: auto;
  /* Oder die gewünschte Höhe für die Sektion */
  margin-top: 0px;
  min-height: 60vh;
  padding-bottom: 20px;
  /* Etwas Abstand am unteren Rand */
  color: #ffffff;
  /* Setzt die Textfarbe auf Weiß für die gesamte Sektion */

}

.wedding-invitation .card {
  background: rgba(248, 5, 5, 0);
  /* Halbtransparenter Hintergrund für den Text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  margin: 0;
  width: 80%;
  /* Oder die gewünschte Breite */
  padding: 20px;
  /* Oder der gewünschte Innenabstand */
  display: flex;
  /* Flexbox für die Karte */
  flex-direction: column;
  /* Inhalte vertikal anordnen */
  justify-content: flex-end;
  /* Inhalte am unteren Ende ausrichten */

}

.wedding-invitation .title {
  text-transform: uppercase;
  /* Macht den Text groß */
  margin-bottom: 10px;
  /* Schiebt den Titel nach oben */
  font-size: 2.5rem;
  /* Größere Schrift für den Titel */
}

.wedding-invitation .text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Nutzt die volle Höhe der .card */
}

.wedding-invitation .text-content {
  font-size: 1.5rem;
  margin-top: auto;
  /* Schiebt den Inhaltstext nach unten */
}


/* Style für den Conntdown */
#countdown {
  color: #000; /* Schwarze Schriftfarbe */
}

#countdown .card {
  text-align: center;
  background: none; /* Entferne den Hintergrund der Karte, falls gesetzt */
}

#countdown h2 {
  color: #000;
  margin-bottom: 15px; /* Abstand unter der Überschrift */
}

#countdown-timer {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

#countdown-timer .time-container {
  background-color: #aca4a4e3; /* Schwarze Hintergrundfarbe für jeden Zeit-Container */
  color: #000000; /* Goldene Schriftfarbe für die Zahlen */
  margin: 0 10px; /* Abstand zwischen den Zeit-Containern */
  padding: 10px 20px; /* Innenabstand */
  border-radius: 5px; /* Abgerundete Ecken */
}

#countdown-timer .time {
  font-size: 3rem; /* Große Schriftgröße für die Zeitangabe */
  font-weight: bold; /* Fettgedruckt für bessere Sichtbarkeit */
}

#countdown-timer .label {
  display: block; /* Labels unter den Zahlen anzeigen */
  font-size: 1.5rem; /* Schriftgröße für die Labels */
}








/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
    /* Etwas kleiner auf Mobilgeräten */
  }


  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
    text-align: center;
  }

  .nav-bg {
    position: fixed;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }

  .nav-bg.active {
    display: block;
  }
/* Sektion Start und Bild */
  .wedding-invitation {
    min-height: 40vh;

  }

  .wedding-invitation .title {
    font-size: 1.5rem;
    /* Größere Schrift für den Titel */
  }

  .wedding-invitation .text-content {
    font-size: 1rem;
    /* Angepasste Schriftgröße für den Text */
  }

  /* Style für den Conntdown */
  #countdown-timer .time {
    font-size: 1.5rem; /* Kleinere Schriftgröße für die Zeitangabe auf mobilen Geräten */
  }

  #countdown-timer .label {
    font-size: 1rem; /* Kleinere Schriftgröße für die Labels auf mobilen Geräten */
  }

  #countdown-timer .time-container {
    padding: 5px 8px; /* Reduzierter Innenabstand auf mobilen Geräten */
    margin: 0 5px; /* Reduzierter Abstand zwischen den Zeit-Containern auf mobilen Geräten */
  }

  #countdown h2 {
    font-size: 1.5rem; /* Kleinere Schriftgröße für die Überschrift auf mobilen Geräten */
  }
}


