@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
  /* Standardgröße */
}


body {
  min-height: 100vh;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 0, 0, 0.4),
      transparent);
  transition: 0.5s;
}

.header:hover::before {
  left: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(0, 60, 255, 0.4),
      transparent);
}

.logo {
  display: inline-block;
  /* Ermöglicht die Anwendung von width und height */
  width: 150px;
  /* Setze die gewünschte Breite des Logos */
  height: auto;
  /* Damit das Bild proportional skaliert wird */
  text-decoration: none;
  cursor: pointer;
  /* Ändere von default zu pointer, da es sich um einen klickbaren Link handelt */
}

.logo img {
  width: 100%;
  /* Dadurch nimmt das Bild die Breite des umgebenden .logo-Elements an */
  height: auto;
  /* Erhält das Seitenverhältnis */
}

.navbar a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f00;
}

#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  padding-top: 20px;

}

.card {
  background: white;
  text-align: center;
  /*Allgemeine Textausrichtung */
  /* oder ein anderer Hintergrund, der zu deinem Design passt */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  /* oder eine spezifische Breite, je nach Design */
  max-width: 80%;
  /* begrenzt die Breite der Karte */
}

/* Sektion Start und Bild */
.wedding-invitation {
  background: url('niclas_alex.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: auto;
  /* Oder die gewünschte Höhe für die Sektion */
  margin-top: 0px;
  min-height: 60vh;
  padding-bottom: 20px;
  /* Etwas Abstand am unteren Rand */
  color: #ffffff;
  /* Setzt die Textfarbe auf Weiß für die gesamte Sektion */

}

.wedding-invitation .card {
  background: rgba(248, 5, 5, 0);
  /* Halbtransparenter Hintergrund für den Text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  margin: 0;
  width: 80%;
  /* Oder die gewünschte Breite */
  padding: 20px;
  /* Oder der gewünschte Innenabstand */
  display: flex;
  /* Flexbox für die Karte */
  flex-direction: column;
  /* Inhalte vertikal anordnen */
  justify-content: flex-end;
  /* Inhalte am unteren Ende ausrichten */

}

.wedding-invitation .title {
  text-transform: uppercase;
  /* Macht den Text groß */
  margin-bottom: 10px;
  /* Schiebt den Titel nach oben */
  font-size: 2.5rem;
  /* Größere Schrift für den Titel */
}

.wedding-invitation .text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Nutzt die volle Höhe der .card */
}

.wedding-invitation .text-content {
  font-size: 1.5rem;
  margin-top: auto;
  /* Schiebt den Inhaltstext nach unten */
}


/* Style für den Conntdown */
/* Spezifische Anpassungen für den Countdown-Bereich */
#countdown .card {
  border: none;
  /* Entfernt den Rahmen */
  box-shadow: none;
  /* Entfernt den Schatten, falls vorhanden */
  background: transparent;
  /* Setzt den Hintergrund auf transparent */
  padding: 0;
  /* Entfernt den inneren Abstand */
}

#countdown-timer {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

#countdown-timer .time-container {
  background-color: #f0f0f0;
  /* Schwarze Hintergrundfarbe für jeden Zeit-Container */
  color: #000000;
  /* Goldene Schriftfarbe für die Zahlen */
  margin: 0 10px;
  /* Abstand zwischen den Zeit-Containern */
  padding: 10px 20px;
  /* Innenabstand */
  border-radius: 5px;
  /* Abgerundete Ecken */
}

#countdown-timer .time {
  font-size: 3rem;
  /* Große Schriftgröße für die Zeitangabe */
  font-weight: bold;
  /* Fettgedruckt für bessere Sichtbarkeit */
}

#countdown-timer .label {
  display: block;
  /* Labels unter den Zahlen anzeigen */
  font-size: 1.5rem;
  /* Schriftgröße für die Labels */
}

/* Einladungs Sektion*/

/* Einladungskarte innerhalb der spezifischen Sektion */
#wedding-invitation .invitation-card {
  background-color: #f0f0f0;
  /* Leicht abgesetzter Hintergrund */
  width: 85%;
  /* Etwas kleiner als die normalen Karten */
  max-width: 45%;
  /* Maximale Breite anpassen */
  margin: 20px auto;
  /* Zentriert die Karte mit vertikalem Abstand */
  padding: 50px;
  /* Innerer Abstand */
  border-radius: 10px;
  /* Rundungen beibehalten */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Schatten für Tiefe */
  transition: box-shadow 0.3s ease;
  /* Sanfter Übergang für den Hover-Effekt */
}

/* Hover-Effekt für die Einladungskarte */
#wedding-invitation .invitation-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Verstärkter Schatten */
}

/* Stil für die Überschrift in der Einladungskarte */
#wedding-invitation .invitation-heading {
  color: #d40a0a;
  /* Rote Farbe */
  margin-bottom: 15px;
  /* Abstand zur Text */
  text-align: center;
  /* Zentrierung */
  font-size: 2.5rem;
  /* Angepasste Schriftgröße */
}

/* Stil für den Namen der eingeladenen Person */
#wedding-invitation .guest-name {
  color: #377af5;
  /* Blaue Farbe */
  font-weight: bold;
  /* Fettdruck */
}

/* Stil für den Einladungstext */
#wedding-invitation .invitation-text {
  color: #666;
  /* Dunkelgrauer Text */
  font-size: 1.5rem;
  /* Standardtextgröße */
  line-height: 1.5;
  /* Zeilenhöhe für bessere Lesbarkeit */
}


/* Tagesablauf Sektion */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.timeline:last-child::before {
  display: none;
}



/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #1e2cec;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #f0f0f0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f0f0f0;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #f0f0f0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f0f0f0 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #f0f0f0;
  position: relative;
  border-radius: 6px;
}

.container i {
  font-size: 3rem;
  color: #c41111;
  /* Farbe der Icons */
}








/* Google Sektion*/

.location-group {
  display: flex;
  justify-content: center;
  /* Zentriert die .map-container und .location-info-container horizontal */
  align-items: flex-start;
  /* Stellt sicher, dass die Elemente am oberen Rand ausgerichtet sind */
  width: 100%;
  /* Setzt die Breite auf die volle Breite der .card */
  margin-bottom: 20px;
  /* Abstand zwischen den Gruppen */
}

.map-container,
.location-info-container {
  width: 45%;
  /* Setzt die Breite auf 45%, damit Platz für den Abstand zwischen den Elementen bleibt */
  margin: 0 10px;
  /* Abstand zwischen den Containern */
}

.map-container iframe {
  width: 100%;
  /* Sorgt dafür, dass die Karte die volle Breite ihres Containers einnimmt */
  height: 300px;
  /* Setzt eine feste Höhe */
  border-radius: 10px;
  /* Rundet die Ecken */
}

.location-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-info-container h3,
.location-info-container a,
.location-info-container p {
  margin-bottom: 10px;
  /* Abstand zwischen den Textelementen */
}

.location-info-container button {
  background-color: #d40a0a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  width: 50%;
  /* Breite des Buttons */
  align-self: center;
  /* Zentriert den Button in der .location-info-container */
  margin-top: 10px;
  /* Abstand vom letzten Textelement zum Button */
}

.location-divider {
  width: 92%;
  /* Breite des Strichs, entsprechend der .card Breite */
  border: 2px solid #d40a0a;
  /* Rote Farbe und Dicke des Strichs */
  margin: 20px auto;
  /* Zentriert den Strich horizontal mit Abstand oben und unten */
}

.location-heading {
  text-align: center;
  /* Zentriert die Überschrift */
  color: #d40a0a;
  /* Rote Farbe der Überschrift */
  margin: 20px 0;
  /* Abstand oben und unten von der Überschrift */
  font-family: 'Poppins', sans-serif;
  /* Schriftart */
  font-size: 1.5rem;
  /* Größe der Schriftart */
}





/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}



@media (max-width: 768px) {
  html {
    font-size: 14px;
    /* Etwas kleiner auf Mobilgeräten */
  }


  #menu-icon {
    display: block;
    color: black;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
    text-align: center;
  }

  .nav-bg {
    position: fixed;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }

  .nav-bg.active {
    display: block;
  }

  .section {
    padding-top: 15px;

  }


  .card {
    background: white;
    text-align: center;
    /*Allgemeine Textausrichtung */
    /* oder ein anderer Hintergrund, der zu deinem Design passt */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    /* oder eine spezifische Breite, je nach Design */
    max-width: 90%;
    /* begrenzt die Breite der Karte */
  }



  /* Sektion Start und Bild */
  .wedding-invitation {
    min-height: 40vh;

  }

  .wedding-invitation .title {
    font-size: 1.5rem;
    /* Größere Schrift für den Titel */
  }

  .wedding-invitation .text-content {
    font-size: 1rem;
    /* Angepasste Schriftgröße für den Text */
  }

  /* Style für den Conntdown */
  #countdown-timer .time {
    font-size: 1.5rem;
    /* Kleinere Schriftgröße für die Zeitangabe auf mobilen Geräten */
  }

  #countdown-timer .label {
    font-size: 1rem;
    /* Kleinere Schriftgröße für die Labels auf mobilen Geräten */
  }

  #countdown-timer .time-container {
    padding: 5px 8px;
    /* Reduzierter Innenabstand auf mobilen Geräten */
    margin: 0 5px;
    /* Reduzierter Abstand zwischen den Zeit-Containern auf mobilen Geräten */
  }

  #countdown h2 {
    font-size: 1.5rem;
    /* Kleinere Schriftgröße für die Überschrift auf mobilen Geräten */
  }


  /* Einladungs Sektion*/

  /* Anpassungen für die Einladungskarte in mobiler Ansicht */
  #wedding-invitation .invitation-card {
    width: 95%;
    /* Karte nimmt die volle Breite ein */
    max-width: none;
    /* Entfernt die maximale Breite Beschränkung */
    padding: 20px;
    /* Angepasster innerer Abstand */
    margin: 5px 0;
    /* Verringert den vertikalen Abstand */
  }

  #wedding-invitation .invitation-heading {
    font-size: 1.5rem;
    /* Verkleinerte Schriftgröße für die Überschrift */
  }

  #wedding-invitation .guest-name {
    font-size: 1.2rem;
    /* Angepasste Schriftgröße für den Gastnamen */
  }

  #wedding-invitation .invitation-text {
    font-size: 1rem;
    /* Kleinere Schriftgröße für den Text */

  }

  /* Tagesablauf Sektion */

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }




  /* Google Sektion*/

  .location-group {
    flex-direction: column;
    /* Stapelt die Elemente in der mobilen Ansicht */
    align-items: center;
    /* Zentriert die Elemente vertikal */
  }

  .map-container,
  .location-info-container {
    width: 90%;
    /* Setzt die Breite auf 90% in der mobilen Ansicht */
    margin: 10px 0;
    /* Abstand oben und unten */
  }

  .location-info-container button {
    width: 100%;
    /* Setzt die Breite des Buttons auf 100% in der mobilen Ansicht */
  }

  .location-divider {
    width: 90%;
    /* Etwas breiter auf kleinen Bildschirmen */
  }







}